@use '../styles/color-palette.scss' as colors;
@use '../styles/typography.scss' as typography;

.stage-container {
  width: 100%;
  margin-bottom: 2rem;
  overflow: hidden;
  
  &.error .stage-content {
    background-color: rgba(220, 53, 69, 0.1); // Light red background
  }
  
  &.success .stage-content {
    background-color: rgba(13, 110, 253, 0.1); // Light blue background
  }
}

.stage-header {
  padding: 1rem 1.5rem;
}

.stage-title {
  margin: 0;
  font-size: typography.$font-size-lg;
  color: colors.$text-secondary;
  font-weight: typography.$font-weight-semibold;
}

.stage-content {
  padding: 1.5rem;
  background-color: colors.$neutral-light-gray;
  border-radius: 8px;
  margin: 0 0.5rem 0.5rem 0.5rem;
} 