@import '../styles/color-palette.scss';

.stage-container {
  width: 100%;
  margin-bottom: 2rem;
  overflow: hidden;
}

.stage-header {
  padding: 1rem 1.5rem;
}

.stage-title {
  margin: 0;
  font-size: 1.25rem;
  color: $text-secondary;
  font-weight: 600;
}

.stage-content {
  padding: 1.5rem;
  background-color: $neutral-gray;
  border-radius: 8px;
  margin: 0 0.5rem 0.5rem 0.5rem;
} 